/* shared across all */

body{}

header{
  border: 1px solid black;
}

.headline{
  border: 1px solid black;
  width: 1200px;
}

/* main mission container */

.missioncontainer{
  border: 1px solid black;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.mission{
  height: 700px;
  border: 1px solid black;
  background-image: url();
  display: flex;
  align-items: center;
}

/* main tea container */
.teacontainer{
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 20px;
}

/* child of .teacontainer */
.teas{
  border: 1px solid black;
  background-color: lightgreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 700px;
}

/* child of .teas container */

.tea{
  border: 1px solid black;
  text-align: center;
}

/* child of .tea container */

.box{
  border: 1px solid black;
  width: 300px;
  height: 200px;
  margin: 20px;
}
.boxname{
  border: 1px solid black;
}

/* main location container */

.locationcontainer{
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

/* child of .locationcontainer*/
.locations{
  border: 1px solid black;
  background-color: pink;
  width: 1200px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*child of .locations*/
.location{
  border: 1px solid black;
  height: 200px;
  width: 300px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.headline{
  border: 1px solid black;
  text-align: center;
}


/* contact */
.contact{
  border: 1px solid black;
  /*display: flex;
  justify-content: center;*/
  height: 200px;
  text-align: center;
}

/*footer*/
footer{
 border: 1px solid black;
}
