/* shared */

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* header */

header{
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img{
  height: 50px;
  width: 156px;
  margin-left: 10px;
}
nav{
 display: block;
 background-color: black;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}
a {
color: seashell;
}

/* mission container */

#missioncontainer{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.mission{
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  align-items: center;
}
.missionheadline{
  width: 1200px;
  background-color: black;
  text-align: center;
}

/* tea container */

#teacontainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 75px;
}
.teaheadline{
  margin-top: 50px;
  width: 1000px;
  background-color: black;
  text-align: center;
}
.teas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 1000px;
  height: 600px;
}
.tea{
  text-align: center;
}
.teapic1, .teapic2, .teapic3, .teapic4, .teapic5{
  border: 1px solid black;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.teapic1, .teapic2, .teapic3, .teapic4, .teapic5, img{
  height: 200px;
  width: 300px;
}
.name h4{
  margin-top: 0
}

/*location container */

#locationcontainer{
  display: flex;
  justify-content: center;
}

.locationheadline{
  width: 1200px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 30px;
  text-align: center;
}

/* child of .locationcontainer*/
.locations{
  width: 1200px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-image: url("../images/img-locations-background.jpg");
}

/*child of .locations*/
.location{
  height: 300px;
  width: 300px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;

  background-color: black;
}


/* contact */
.contact{
  height: 200px;
  text-align: center;
}

/*footer*/
footer{
 margin: 20px;
 <p>copyright The Tea Cozy 2017</p>
 text align: left;
}
