/* shared across all */
html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
body{

}

header{
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  width: 100%;
  background-color: black;
}

header img{
  height: 50px;
  margin-left: 10px;
}

nav{
  float: right;
  text-decoration: underline;
}


/* main mission container */

.missioncontainer{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.mission{
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  display: flex;
  align-items: center;
}
.missionheadline{
  width: 1200px;
  background-color: black;
  text-align: center;
}

/* main tea container */
.teacontainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

/* child of .teacontainer */
.teaheadline{
  width: 1000px;
  background-color: black;
  text-align: center;
}

.teas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 1000px;
  height: 700px;
}

/* child of .teas container */

.tea{
  border: 1px solid black;
  text-align: center;
}

/* child of .tea container */

.box1, .box2, .box3, .box4, .box5{
  border: 1px solid black;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.box1 img{
  height: 200px;
  width: 300px;
}
.box2 img{
  height: 200px;
  width: 300px;
}
.box3 img{
  height: 200px;
  width: 300px;
}
.box4 img{
  height: 200px;
  width: 300px;
}
.box5 img{
  height: 200px;
  width: 300px;
}
.boxname h4{
  margin-top: 0
}
/* main location container */

.locationcontainer{
  display: flex;
  justify-content: center;
}

.locationheadline{
  width: 1200px;
  text-align: center;
}

/* child of .locationcontainer*/
.locations{
  width: 1200px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

/*child of .locations*/
.location{
  height: 250px;
  width: 300px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background-color: black;

}
.headline .location{
  border: 1px solid black;
  text-align: center;
}


/* contact */
.contact{
  border: 1px solid black;
  /*display: flex;
  justify-content: center;*/
  height: 200px;
  text-align: center;
}

/*footer*/
footer{
 border: 1px solid black;
}
